/* General */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 60px; /* Tambahkan padding ini */
  box-sizing: border-box; /* Gunakan box-sizing ini */
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center; /* Menyelaraskan logo dan tombol secara vertikal */
  justify-content: space-between; /* Memastikan logo di kiri dan tombol di kanan */
  background-color: #ffffff; /* Warna latar belakang navbar */
  padding: -10px 20px; /* Padding di dalam navbar */
  transition: top 0.3s; /* Efek transisi saat navbar muncul atau menghilang */
  position: relative; /* Atur posisi navbar */
  z-index: 1000; /* Memastikan navbar berada di atas konten lainnya */
}

.navbar-buttons {
  display: flex; /* Menyusun tombol dalam satu baris */
}

.navbar-buttons button {
  background-color: transparent; /* Warna tombol */
  color: rgb(43, 43, 43); /* Warna teks tombol */
  border: none; /* Menghilangkan border */
  padding: 10px 15px; /* Padding tombol */
  margin-left: 10px; /* Jarak antar tombol */
  cursor: pointer; /* Menunjukkan bahwa tombol dapat diklik */
  border-radius: 15px; /* Sudut tombol melengkung */
  transition: background-color 0.3s; /* Efek transisi */
}

.navbar-buttons button:hover {
  background-color: #f2ff58; /* Warna tombol saat hover */
}

.profile-button {
  background-color: #f2ff58; /* Warna tombol profil */
  color: white; /* Warna teks tombol profil */
  border: none; /* Menghilangkan border */
  padding: 10px; /* Padding tombol profil */
  margin-left: 10px; /* Jarak antar tombol */
  cursor: pointer; /* Menunjukkan bahwa tombol dapat diklik */
  border-radius: 50%; /* Membuat tombol berbentuk lingkaran */
  width: 40px; /* Lebar tombol */
  height: 40px; /* Tinggi tombol */
  display: flex; /* Menggunakan flexbox untuk menempatkan ikon di tengah */
  align-items: center; /* Menyelaraskan ikon secara vertikal */
  justify-content: center; /* Menyelaraskan ikon secara horizontal */
  font-size: 20px; /* Ukuran font untuk ikon */
  transition: background-color 0.3s; /* Efek transisi */
}

.profile-button:hover {
  background-color: #f2ff58; /* Warna tombol profil saat hover */
}

/* Logo atas */
.logo-container {
  flex: 0 0 auto; /* Mengatur agar logo tidak mengembang */
}

.logo {
  height: 100px; /* Atur tinggi logo sesuai kebutuhan */
  width: auto; /* Mempertahankan rasio aspek */
}

/* Hero banner */
.hero-banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff; /* Warna latar belakang hero banner */
  padding: 50px; /* Padding di dalam hero banner */
}

.text-content {
  flex: 1; /* Mengatur agar konten teks mengambil ruang yang tersedia */
  margin-right: 20px; /* Jarak antara teks dan gambar */
  margin-bottom: 20px; /* Tambahkan margin bawah untuk memberi jarak ke tombol */
  padding-bottom: 20px; /* Tambahkan padding bawah untuk memberi jarak ke tombol */
}

.text-content h1 {
  font-size: 2em; /* Ukuran font untuk judul */
  margin-bottom: 20px; /* Jarak bawah judul */
  line-height: 1.5; /* Jarak antar baris untuk judul */
}

.text-content p {
  font-size: 1em; /* Ukuran font untuk paragraf */
  margin-bottom: 40px; /* Jarak bawah paragraf */
  line-height: 1.5; /* Jarak antar baris untuk paragraf */
}

.cta-button {
  background-color: #2c7ede; /* Warna tombol CTA */
  color: rgb(255, 255, 255); /* Warna teks tombol CTA */
  padding: 15px 25px; /* Padding tombol CTA */
  border: none; /* Menghilangkan border */
  border-radius: 15px; /* Sudut tombol melengkung */
  text-decoration: none; /* Menghilangkan garis bawah */
  font-size: 1.2em; /* Ukuran font untuk tombol CTA */
  transition: background-color 0.3s; /* Efek transisi */
  margin-top: 20px; /* Jarak antara teks dan tombol */
  
}

.cta-button:hover {
  background-color: #2770c4; /* Warna tombol CTA saat hover */
}

/* image dalam hero banner */
.image-content {
  flex: 1; /* Mengatur agar konten gambar mengambil ruang yang tersedia */
  margin-top: 20px; /* Jarak antara teks dan gambar */
  padding-left: 50px;
}

.image-content img {
  max-width: 100%; /* Memastikan gambar tidak melebihi lebar kontainer */
  height: auto; /* Mempertahankan rasio aspek gambar */
  border-radius: 15px;
}


/* Banner Baru */
.new-banner {
  background-color: #ffffff; /* Warna latar belakang banner */
  padding: 50px; /* Padding di dalam banner */
  display: flex; /* Menggunakan flexbox untuk tata letak */
  justify-content: center; /* Memusatkan konten secara horizontal */
  align-items: center; /* Memusatkan konten secara vertikal */
}

.grid-container {
  display: grid; /* Menggunakan grid layout */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Mengatur kolom grid */
  gap: 20px; /* Jarak antar item grid */
  max-width: 1200px; /* Atur lebar maksimum grid */
  width: 100%; /* Memastikan grid mengambil lebar penuh */
}

.grid-item {
  background-color: rgb(236, 241, 248); /* Warna latar belakang item grid */
  border-radius: 15px; /* Sudut melengkung */
  padding: 20px; /* Padding di dalam item grid */
  text-align: center; /* Menyelaraskan teks di tengah */
 
}

.grid-icon {
  max-width: 100px; /* Ukuran maksimum untuk ikon */
  height: auto; /* Mempertahankan rasio aspek */
  margin-bottom: 15px; /* Jarak bawah untuk ikon */
}

.grid-item h3 {
  font-size: 1.5em; /* Ukuran font untuk judul */
  margin-bottom: 10px; /* Jarak bawah judul */
}

.grid-item p {
  font-size: 1em; /* Ukuran font untuk deskripsi */
  color: rgb(43, 43, 43); /* Warna teks deskripsi */
}

/* Hero Banner 2 */
.hero-banner-2 {
  display: flex; /* Menggunakan flexbox untuk tata letak */
  align-items: center; /* Menyelaraskan konten secara vertikal */
  justify-content: space-between; /* Menyebar konten di antara dua sisi */
  padding: 50px; /* Padding di dalam hero banner */
  margin-top: 20px; /* Jarak atas dari elemen di atas */
}


.text-content {
  flex: 1; /* Mengatur teks untuk mengambil ruang yang sama */
  padding-left: 20px; /* Memberikan jarak antara gambar dan teks */
}


.image-content {
  flex: 1; /* Mengatur gambar untuk mengambil ruang yang sama */
  margin-top: 20px; /* Jarak antara teks dan gambar */
  padding-right: 50px;
}

.hero-banner-2 img {
  max-width: 100%; /* Memastikan gambar responsif */
  height: auto; /* Memastikan tinggi gambar otomatis */
  border-radius: 15px; /* Menambahkan sudut melengkung pada gambar */
}


/* Slider header */
.slider-header {
  text-align: auto; /* Pusatkan teks */
  margin-bottom: 10px; /* Jarak antara header dan slider */
  margin-top: 25px;
  margin-left: 50px;
}

.slider-header h2 {
  font-size: 24px; /* Ukuran font untuk header */
  color: #333; /* Warna teks */
  margin: 0; /* Hapus margin default */
}

/* image slider */
.slider {
  position: relative;
  max-width: 800px; /* Atur lebar maksimum slider */
  margin: auto; /* Pusatkan slider */
  overflow: hidden; /* Sembunyikan bagian yang melampaui batas */
  margin-top: 30px;
  
}

.slides {
  display: flex; /* Menggunakan flexbox untuk tata letak horizontal */
  transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55); /* Animasi bouncy */
}

.slide {
  min-width: 100%; /* Setiap slide mengambil lebar penuh slider */
  height: 400px; /* Atur tinggi slide sesuai dengan tinggi banner */
  display: flex; /* Menggunakan flexbox untuk menempatkan gambar */
  justify-content: center; /* Pusatkan gambar secara horizontal */
  align-items: center; /* Pusatkan gambar secara vertikal */
}

.slide img {
  width: 100%; /* Gambar responsif */
  height: 100%; /* Gambar mengisi tinggi slide */
  object-fit: cover; /* Memastikan gambar mengisi area tanpa merusak rasio aspek */
  border-radius: 10px; /* Sudut melengkung pada gambar */
}

.navigation {
  text-align: center; /* Pusatkan navigasi */
  margin-top: 10px; /* Jarak atas untuk navigasi */
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb; /* Warna default untuk dot */
  border-radius: 50%; /* Bentuk lingkaran */
  display: inline-block;
  cursor: pointer; /* Tunjukkan kursor pointer saat hover */
}

.dot.active {
  background-color: #717171; /* Warna aktif untuk dot */
}

button.prev, button.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8); /* Latar belakang semi-transparan */
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  z-index: 10; /* Pastikan tombol berada di atas slide */
}

button.prev {
  left: 10px; /* Posisi tombol sebelumnya */
}

button.next {
  right: 10px; /* Posisi tombol berikutnya */
}


/*  footer */
.footer {
  background-color: rgb(236, 241, 248); /* Warna latar belakang footer */
  padding: 40px 20px; /* Padding di dalam footer */
  text-align: left; /* Rata kiri untuk teks */
  color: rgb(43, 43, 43);
  margin-top: 25px; 
  border-radius: 15px;
}

.footer-container {
  display: flex; /* Menggunakan flexbox untuk tata letak */
  justify-content: space-between; /* Menyebar elemen di antara kiri dan kanan */
}

.footer-section {
  flex: 1; /* Mengatur agar setiap bagian footer mengambil ruang yang sama */
  margin: 0 20px; /* Jarak antar bagian */
}

.footer-section h3 {
  font-size: 1.5em; /* Ukuran font untuk judul bagian */
  margin-bottom: 10px; /* Jarak bawah judul */
}

.footer-section p, .footer-section ul {
  font-size: 1em; /* Ukuran font untuk teks */
  margin-bottom: 10px; /* Jarak bawah untuk teks */
}

.footer-section ul {
  list-style-type: none; /* Menghilangkan bullet pada list */
  padding: 0; /* Menghilangkan padding default */
}

.footer-section ul li {
  margin-bottom: 5px; /* Jarak antar item list */
}

.footer-section ul li a {
  text-decoration: none; /* Menghilangkan garis bawah pada link */
  color: rgb(43, 43, 43); /* Warna teks link */
}

.footer-section ul li a:hover {
  text-decoration: underline; /* Garis bawah saat hover */
}

.footer-bottom {
  text-align: center; /* Pusatkan teks di bagian bawah footer */
  margin-top: 50px; /* Jarak atas untuk footer bottom */
  font-size: 0.9em; /* Ukuran font untuk footer bottom */
  color: rgb(43, 43, 43); /* Warna teks untuk footer bottom */
}



/* Halaman Cari bengkel */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

/* searchbar cari bengkel */
.search-bar {
  display: flex;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 20px;
  gap: 10px;
}

.search-bar input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-bar button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.content {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
}


/* Filter kiri */
.filter-kiri {
  background-color: #ffffff; /* Warna latar belakang */
  padding: 15px; /* Padding di dalam filter */
  border-radius: 10px; /* Sudut melengkung */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Bayangan untuk efek kedalaman */
}

.filter-kiri h3 {
  margin-bottom: 10px; /* Jarak bawah untuk judul */
}

.filter-kiri label {
  display: block; /* Menampilkan label sebagai blok */
  margin-bottom: 5px; /* Jarak bawah untuk label */
}

.filter-kiri select {
  width: 100%; /* Lebar penuh untuk dropdown */
  padding: 10px; /* Padding di dalam dropdown */
  margin-bottom: 10px; /* Jarak bawah untuk dropdown */
  border: 1px solid #ccc; /* Garis batas */
  border-radius: 5px; /* Sudut melengkung */
}

.filter-kiri button {
  padding: 10px 20px; /* Padding di dalam tombol */
  font-size: 16px; /* Ukuran font untuk tombol */
  border: none; /* Menghilangkan border */
  background-color: #007bff; /* Warna latar belakang tombol */
  color: white; /* Warna teks tombol */
  border-radius: 5px; /* Sudut melengkung */
  cursor: pointer; /* Menunjukkan bahwa tombol dapat diklik */
}

.filter-kiri button:hover {
  background-color: #0056b3; /* Warna tombol saat hover */
}

/* Hasil pencarian juga */
.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 15px;  background-color: #ffffff;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.result-item {
  background-color: #e9ecef;
  border-radius: 10px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  color: #555;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Filter kanan */
.right-filter {
  background-color: #ffffff; /* Warna latar belakang */
  padding: 15px; /* Padding di dalam filter */
  border-radius: 10px; /* Sudut melengkung */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Bayangan untuk efek kedalaman */
}

.right-filter h3 {
  margin-bottom: 10px; /* Jarak bawah untuk judul */
}

.right-filter label {
  display: block; /* Menampilkan label sebagai blok */
  margin-bottom: 5px; /* Jarak bawah untuk label */
}

.right-filter select {
  width: 100%; /* Lebar penuh untuk dropdown */
  padding: 10px; /* Padding di dalam dropdown */
  margin-bottom: 10px; /* Jarak bawah untuk dropdown */
  border: 1px solid #ccc; /* Garis batas */
  border-radius: 5px; /* Sudut melengkung */
}

.right-filter button {
  padding: 10px 20px; /* Padding di dalam tombol */
  font-size: 16px; /* Ukuran font untuk tombol */
  border: none; /* Menghilangkan border */
  background-color: #007bff; /* Warna latar belakang tombol */
  color: white; /* Warna teks tombol */
  border-radius: 5px; /* Sudut melengkung */
  cursor: pointer; /* Menunjukkan bahwa tombol dapat diklik */
}

.right-filter button:hover {
  background-color: #0056b3; /* Warna tombol saat hover */
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }

  .filter,
  .right-filter {
    display: none;
  }
}

/* Grid Container Pencarian */
.grid-container-pencarian {
  display: grid; /* Menggunakan grid layout */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Mengatur kolom grid */
  gap: 20px; /* Jarak antar item */
  padding: 20px; /* Padding di dalam grid container */
}

/* Grid Item Pencarian */
.grid-item-pencarian {
  background-color: #ffffff; /* Warna latar belakang item */
  padding: 15px; /* Ruang dalam item */
  text-align: center; /* Rata tengah teks */
  border: 1px solid #ddd; /* Garis batas item */
  border-radius: 10px; /* Sudut melengkung */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Bayangan untuk efek kedalaman */
  transition: transform 0.2s; /* Efek transisi saat hover */
}

/* Efek Hover untuk Grid Item */
.grid-item-pencarian:hover {
  transform: translateY(-5px); /* Mengangkat item saat hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Bayangan lebih dalam saat hover */
}

/* Responsivitas */
@media (max-width: 768px) {
  .grid-container-pencarian {
      grid-template-columns: 1fr; /* Satu kolom pada layar kecil */
  }
}